.metadata/
.recommenders/
.ipynb_checkpoints/
RemoteSystemsTempFiles/
Servers/

/webProject/.settings/
/webProject/build/
/webProject/target/
/webProject/.classpath
/webProject/.gitignore
/webProject/.project

/xmlparser/.settings/
/xmlparser/build/
/xmlparser/target/
/xmlparser/.classpath
/xmlparser/.gitignore
/xmlparser/.project

*.log
*.vs